body{
    background-image:url(/assets/fondo1.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.Menu{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width:180px;
    opacity: 70%;
}

.lista{
    text-decoration: none;
    color: blue;
}

.indice{
    color: blue;
}